<div class="container" id="configuration" role="tabpanel">
    <div class="content-title">
        <h2>Configuration</h2>
    </div>
    <div class="configuration-section">
        <div class="configuration-item interactive" onclick="setTab(this, 'configuration-income-categories')" role="presentation">
            <div class="configuration-item-title">
                <h4>Income Categories</h4>
            </div>
            <i class="bi bi-chevron-right"></i>
        </div>
        <span class="divider"></span>
        <div class="configuration-item interactive" onclick="setTab(this, 'configuration-expense-categories')" role="presentation">
            <div class="configuration-item-title">
                <h4>Expense Categories</h4>
            </div>
            <i class="bi bi-chevron-right"></i>
        </div>
    </div>
</div>
<%- include('_configuration_income_categories.ejs') %>
<%- include('_configuration_expense_categories.ejs') %>
