<div class="container active" id="configuration-budget" role="tabpanel">
    <div class="breadcrumbs">
        <a onclick="setTab(this, 'configuration')">Configuration</a>
        <i class="bi bi-chevron-right"></i>
        <a class="disabled">
            Budget
        </a>
    </div>
    <div class="content-title">
        <div>
            <h2>Budget</h2>
            <h4>You can see the budget status in Transaction page</h4>
        </div>
        <button class="button-primary hidden" onclick="openModal('add-budget-modal')">Add budget</button>
    </div>

    <div class="configuration-section">
        <div class="no-data-wrapper">
            <img class="no-data-image" src="/public/images/nodata.svg" alt="No data available">
            <h3>There is no budget set yet. Just click</h3>
            <div class="button-wrapper">
                <button class="button-primary link" onclick="openModal('add-budget-modal')">Add budget</button>
                <h3>and go ahead.</h3>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="add-budget-modal">
    <div class="modal-header">
        <h2>Add budget</h2>
    </div>
    
    <form action="" method="POST" class="modal-body">
        <div class="form-body">
            <div class="input-wrapper dropdown" onclick="toggleDropdown(this)">
                <input type="text" placeholder="Category" id="budget-category-input">
                <i class="bi bi-chevron-down"></i>
                <ul class="dropdown-list">
                    <li class="dropdown-item" onclick="setValue(this, 'budget-category-input')" value="Transportation">
                        Transportation
                        <i class="bi bi-check-lg check"></i>
                    </li>
                    <li class="dropdown-item" onclick="setValue(this, 'budget-category-input')" value="Culture">
                        Culture
                        <i class="bi bi-check-lg check"></i>
                    </li>
                    <li class="dropdown-item" onclick="setValue(this, 'budget-category-input')" value="Food">
                        Food
                        <i class="bi bi-check-lg check"></i>
                    </li>
                    <li class="dropdown-item" onclick="setValue(this, 'budget-category-input')" value="Social Life">
                        Social Life
                        <i class="bi bi-check-lg check"></i>
                    </li>
                    <li class="dropdown-item" onclick="setValue(this, 'budget-category-input')" value="Other">
                        Other
                        <i class="bi bi-check-lg check"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-footer">
            <div class="button-wrapper">
                <button class="button-secondary" type="button" onclick="closeModals()">Cancel</button>
                <button class="button-primary" type="submit">Add</button>
            </div>
        </div>
    </form>
</div>