<div class="nested-menu hidden" id="accounts">
    <div class="header">
        <a href="#main" class="back-toggle" onclick="toggleNestedMenu('accounts')">
            <i class="bi bi-chevron-left"></i>
            <h2>
                Accounts
            </h2>
        </a>
    </div>
    <div class="section-divider">
        <h6>
            ACTIVE ACCOUNTS
        </h6>
    </div>
    <section class="settings-section">
        <ul>
            <a href="#">
                <li class="link-item">
                    <div>
                        Accounts Groups
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </li>
            </a>
            <a href="#"><li class="link-item">
                <div>
                    Accounts Settings
                </div>
                <i class="bi bi-chevron-right"></i>
            </li></a>
        </ul>
    </section>
</div>