<div class="detailed">
    <div class="detailed-list-title">Your budget</div>
    <ul class="detailed-list">
        <li>
            <h2 class="title">Food</h2>
            <h4 class="budget-bound">£200</h4>
        </li>
        <li>
            <h2 class="title">Social Life</h2>
            <h4 class="budget-bound">£100</h4>
        </li>
        <li>
            <h2 class="title">Transportation</h2>
            <h4 class="budget-bound">£300</h4>
        </li>
        <button onclick="openBottomUpSheet('budget-add')" class="bt-secondary text-primary">Add budget</button>
    </ul>
</div>