<div class="detailed">
    <form action="">
        <input type="text" placeholder="Category">
        <input type="number" placeholder="Amount">
        <button class="bt-secondary text-primary">Add</button>
    </form>
    <div class="detailed-list-title">Your budget</div>
    <ul class="detailed-list">
        <li>
            <h2 class="title">Food</h2>
            <h4 class="budget-bound">£200</h4>
        </li>
        <li>
            <h2 class="title">Social Life</h2>
            <h4 class="budget-bound">£100</h4>
        </li>
        <li>
            <h2 class="title">Transportation</h2>
            <h4 class="budget-bound">£300</h4>
        </li>
    </ul>
    <h5 class="detail-description text-secondary py-2">To remove an item just click it.</h5>
</div>