<div class="nested-menu hidden" id="configuration">
    <div class="header">
        <div class="back-toggle" onclick="toggleNestedMenu('configuration')">
            <i class="bi bi-chevron-left"></i>
            <h2>
                Configuration
            </h2>
        </div>
    </div>
    <div class="section-divider">
        <h6>
            AUTOMATE
        </h6>
    </div>
    <section class="settings-section">
        <ul>
            <a href="#"><li class="link-item">
                <div>
                    Budget 
                </div>
                <i class="bi bi-chevron-right"></i>
            </li></a>
            <a href="#"><li class="link-item">
                <div>
                    Repeatability
                </div>
                <i class="bi bi-chevron-right"></i>
            </li></a>
        </ul>
    </section>
    <div class="section-divider">
        <h6>
            GENERAL
        </h6>
    </div>
    <section class="settings-section">
        <ul>
            <a href="#">
                <li class="link-item">
                    <div>
                        Main Currency Setting
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </li>
            </a>
            <a href="#"><li class="link-item">
                <div>
                    Carry-over
                </div>
                <button class="bt-toggle" id="carry-over" onclick="toggleButton(this.id)">
                    <div class="circle"></div>
                </button>
            </li></a>
        </ul>
    </section>
    <div class="section-divider">
        <h6>
            OTHER
        </h6>
    </div>
    <section class="settings-section">
        <ul>
            <a><li class="link-item">
                <div>
                    Alarm
                </div>
                <button class="bt-toggle" id="alarm" onclick="toggleButton(this.id)">
                    <div class="circle"></div>
                </button>
            </li></a>
            <a href="#"><li class="link-item">
                <div>
                    Style
                </div>
            </li></a>
        </ul>
    </section>
</div>