<div class="nested-menu hidden" id="language">
    <div class="header">
        <a href="#main" class="back-toggle" onclick="toggleNestedMenu('language')">
            <i class="bi bi-chevron-left"></i>
            <h2>
                Language
            </h2>
        </a>
    </div>
    <div class="section-divider">
        <h6>
            CHOOSE YOUR LANGUAGE
        </h6>
    </div>
    <section class="settings-section">
        <ul class="section-list">
            <a class="menu-link extended">
                <div class="detailed">
                    <ul class="detailed-list">
                        <li><h2>Deutsch</h2></li>
                        <li><h2>English</h2></li>
                        <li><h2>Français</h2></li>
                        <li><h2>Italiano</h2></li>
                        <li><h2>Polski</h2></li>
                    </ul>
                </div>
            </a>
        </ul>
    </section>
</div>