<div class="nested-menu hidden" id="language">
    <div class="header">
        <div class="back-toggle" onclick="toggleNestedMenu('language')">
            <i class="bi bi-chevron-left"></i>
            <h2>
                Language
            </h2>
        </div>
    </div>
    <div class="section-divider">
        <h6>
            CHOOSE YOUR LANGUAGE
        </h6>
    </div>
    <section class="settings-section">
        <ul>
            <li>Deutsch</li>
            <li>English</li>
            <li>Français</li>
            <li>Italiano</li>
            <li>Polski</li>
        </ul>
    </section>
</div>