<nav id="navbar">
    <div class="navbar-content">
        <div class="left">
            <h2 class="logo">Accountant</h2>
            <ul class="navigation-list">
                <li><a href="/app/dashboard">Dashboard</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Guides</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="button-wrapper wide">
                <button class="button-icon secondary">
                    <i class="bi bi-bell"></i>
                </button>
                <img class="user-image" src="/public/images/defaultavatar.png" alt="profile picture">
            </div>
        </div>
    </div>
</nav>
