<nav id="navbar">
    <h2 class="logo mobile">
        Accountant
    </h2>
    <div class="navbar-content">
        <div class="left">
            <h2 class="logo">Accountant</h2>
            <ul class="navigation-list">
                <li><a href="/app/dashboard">Dashboard</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="button-wrapper wide">
                <button class="button-icon secondary">
                    <i class="bi bi-bell"></i>
                </button>
                <form action="/auth/logout" method="GET">
                    <button class="button-icon secondary">
                        <i class="bi bi-box-arrow-right"></i>
                    </button>
                </form>
                <img class="user-image" src="/public/images/defaultavatar.png" alt="profile picture">
            </div>
        </div>
    </div>
    <button type="button" class="button hamburger" onclick="toggleMobileMenu()">
        <i class="bi bi-list"></i>
    </button>
    <menu id="mobile-menu">
        <li><a href="/app/dashboard"><i class="bi bi-house-door"></i>Dashboard</a></li>
        <li><a href="/auth/logout"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
    </menu>
</nav>
