<nav id="navbar">
    <div class="left">

        <div class="logo">
            <a href="/">Accountant</a>
        </div>

        <ul>
            <li id="business-toggle" onclick="toggleExtendedList(this)">
                <div class="nav-link">
                    <a href="#" class="bt-secondary">
                        Business banking
                    </a>
                    <i class="bi bi-chevron-down"></i>
                </div>
                <ul class="extended-list" id="business">
                    <li class="extended-list-item">Benefits</li>
                    <span></span>
                    <li class="extended-list-item">Plans</li>
                    <span></span>
                    <li class="extended-list-item">Features</li>
                    <span></span>
                    <li class="extended-list-item">Accountant for your type of business</li>
                    <span></span>
                    <li class="extended-list-item">Smart and easy to implement</li>
                    <span></span>
                    <li class="extended-list-item">Guides</li>
                </ul>
            </li>
            <li id="personal-toggle" onclick="toggleExtendedList(this)">
                <a href="#" class="nav-link bt-secondary">Personal use</a>
                <i class="bi bi-chevron-down"></i>
                <ul class="extended-list" id="personal">
                    <li class="extended-list-item">Guides</li>
                    <span></span>
                    <li class="extended-list-item">Start for free</li>
                </ul>
            </li>
            <li id="about-toggle" onclick="toggleExtendedList(this)">
                <div class="nav-link">
                    <a href="#" class="bt-secondary">About</a>
                    <i class="bi bi-chevron-down"></i>
                </div>
                <ul class="extended-list" id="about">
                    <li class="extended-list-item">Contact</li>
                    <span></span>
                    <li class="extended-list-item">License</li>
                    <span></span>
                    <li class="extended-list-item">Privacy</li>
                </ul>
            </li>
            <li><a href="#" class="nav-link bt-secondary">Help</a></li>
        </ul>
    </div>
    <div class="right">
        <a href="#" class="bt-secondary">Log in</a>
        <a href="#" class="bt-primary">Get started</a>
    </div>
</nav>