<div class="nested-menu hidden" id="plan">
    <div class="header">
        <div class="back-toggle" onclick="toggleNestedMenu('plan')">
            <i class="bi bi-chevron-left"></i>
            <h2>
                Plan
            </h2>
        </div>
    </div>
</div>