<div class="nested-menu hidden" id="repeat">
    <div class="header">
        <a href="/app/settings/configuration" class="back-toggle" data-link>
            <i class="bi bi-chevron-left"></i>
            <h2>
                Repeatability
            </h2>
        </a>
    </div>
    <div class="section-divider">
        <h6>
            EXPENSE, INCOME, TRANSFER TRANSACTION REPEAT SETTINGS
        </h6>
    </div>
    Repeat
</div>