<div class="nested-menu hidden" id="security">
    <div class="header">
        <a href="/app/settings" class="back-toggle" data-link>
            <i class="bi bi-chevron-left"></i>
            <h2>
                Security
            </h2>
        </a>
    </div>
    <div class="section-divider">
        <h6>
            ACCOUNT SECURITY
        </h6>
    </div>
    <section class="settings-section">
        <ul>
            <a>
                <li class="link-item">
                    <div>
                        Change password
                    </div>
                </li>
                <div class="setting-details">
                    <form action="">
                        <input type="password" name="password" placeholder="Old password">
                        <input type="password" name="password" placeholder="New password">
                        <input type="password" name="confirmPassword" placeholder="Confirm password">
                        <div class="d-flex gap-4">
                            <button class="bt-primary">Save</button>
                            <button class="bt-secondary">Forgot password</button>
                        </div>
                    </form>
                </div>
            </a>
        </ul>
    </section>
</div>