<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant</title>

    <%- include('partials/_global_styles.ejs') %>
</head>
<body class="">
    <%- include('partials/_navbar.ejs') %>

    <div class="wrapper">
        <div class="main-banner">
            <div class="breakpoint">
                <h2 class="main-title">
                    Powerfully Simple
                    <br>
                    <span>Business</span> Banking
                </h2>
                <h4 class="secondary-title">
                    Built for small business owners, entrepreneurs
                    <br>
                    and freelancers. No hidden fees, no hassle.
                </h4>
                
                <form action="" id="get-started-form">
                    <input type="email" placeholder="Your business email">
                    <button>Get started</button>
                </form>

                <div class="apps-wrapper">
                    <div class="app-card">
                        <i class="bi bi-apple"></i>
                        <div class="text">
                            <p>Download on the</p>
                            <h3>App Store</h3>
                        </div>
                    </div>
                    <div class="app-card">
                        <i class="bi bi-google-play"></i>
                        <div class="text">
                            <p>Get it on</p>
                            <h3>Google Play</h3>
                        </div>
                    </div>
                    <% if (user) { %>
                        <div class="app-card dashboard-shortcut">
                            <a class="" href="/app/dashboard">Go to dashboard</a>
                        </div>
                    <% } else { %>
                        <button class="bt-secondary">Get started now</button>
                    <% } %>
                </div>
            </div>
                <img src="/public/images/banner.png" alt="">
            </div>
    </div>

    <%- include('partials/_global_scripts.ejs') %>
</body>
</html>