<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body class="">
    <%- include('partials/_navbar.ejs') %>
    
    <div class="wrapper">
        <div class="main-banner">
            <div class="breakpoint">
                <h2 class="main-title">
                    Powerfully Simple
                    <br>
                    <span>Business</span> Banking
                </h2>
                <h4 class="secondary-title">
                    Built for small business owners, entrepreneurs
                    <br>
                    and freelancers. No hidden fees, no hassle.
                </h4>
                
                <form action="" id="get-started-form">
                    <input type="email" placeholder="Your business email">
                    <button>Get started</button>
                </form>

                <div class="apps-wrapper">
                    <div class="app-card">
                        <i class="bi bi-apple"></i>
                        <div class="text">
                            <p>Download on the</p>
                            <h3>App Store</h3>
                        </div>
                    </div>
                    <div class="app-card">
                        <i class="bi bi-google-play"></i>
                        <div class="text">
                            <p>Get it on</p>
                            <h3>Google Play</h3>
                        </div>
                    </div>
                    <button class="bt-secondary">Get started now</button>
                </div>
            </div>
                
                <img src="/public/images/banner.png" alt="">
            </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>