body {

    .safari {
        transition: none !important;
    }

    form {
        width: 100%;
        margin-bottom: 26px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            background-color: rgba(255, 255, 255, 0.15);
            border: none;
            width: 100%;
            margin-top: 18px;
            padding: 10px 18px;
            border-radius: 12px;
            transition: .2s ease-in-out;
            color: #fff;

            &:focus, &:hover {
                background-color: rgba(255, 255, 255, 0.25);
                outline: none;
            }
        }

        button {
            width: fit-content;
            margin: 18px 0;
            
            &.bt-primary {
                box-shadow: none;
            }
            
            &.bt-secondary {
                color: #2340C3;
            }
            
            &:hover {
                &.bt-secondary {
                    color: #2340C3;
                }
            }
        }
    }

    .app-container {
        padding: 0;
        margin: 0;
        width: 100%;
        transition: .7s ease-in-out;
        
        &.hidden {
            transform: translateX(-200px);
            overflow-y: hidden;
            z-index: -1000;
        }
    }

    .section-divider {
        padding: 18px 20px 12px 20px;
        background-color: rgba(17, 17, 17, 0.9);
        color: rgba(238, 238, 238, 0.784);
        display: flex;
        justify-content: center;

        h6 {
            max-width: 700px;
            width: 100%;
            font-weight: 600;
            margin: 0;
        }
    }

    .header {
        background-color: #111;
        padding: 30px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 16px 6px rgba(41, 41, 41, 0.9);

        .back-toggle {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            cursor: pointer;
            text-decoration: none;
            color: #eee;

            h2 {
                margin: 0;
            }

            i {
                width: 50px;
                height: 50px;
                border-radius: 12px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6em;
                cursor: pointer;
                transition: .2s ease-in-out;
            }
        }
        
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            img {
                width: 130px;
                height: 130px;
                border-radius: 50%;
                box-shadow: 0 0 20px 2px rgba(238, 238, 238, 0.1);
                object-fit: cover;
            }
            
            h2 {
                color: rgba(238, 238, 238, 1);
                margin: 0;
                margin-top: 12px;
                font-size: 2.6em;
                font-weight: 400;
            }
            
            h3 {
                color: rgba(238, 238, 238, 0.6);
                font-size: 1.3em;
            }
        }
    }

    .settings-section {
        background-color: #111;
        display: flex;
        justify-content: center;
        box-shadow: 0 0 16px 6px rgba(41, 41, 41, 0.9);

        &:last-of-type {
            padding-bottom: 30px;
        }

        .section-list {
            width: 100%;
            max-width: 700px;
            list-style-type: none;
            padding: 0;
            margin: 12px;
            font-size: 1.5em;

            @media screen and (max-width: 900px) {
                margin: 12px 30px;
            }

            .menu-link {
                color: rgba(238, 238, 238, 0.869);
                text-decoration: none;
                transition: .5s ease-in-out;
                cursor: pointer;

                // animate menu-link when navigating to a new screen
                &.move-right {
                    li {
                        transition: 1s ease-in-out;
                        transform: translateX(100px);
                    }

                }

                &.safari {

                    li {
                        transition: none !important;
                    }
                }

                &:last-of-type {
                    li {
                        margin-bottom: 0;
                    }
                }
                
                &.extended {
                    display: block;
                    color: #eee;
                    padding-bottom: 20px;
                    position: relative;

                    li, i {
                        color: #fff;
                    }

                    .detailed {
                        position: relative;
                        top: 0;
                        opacity: 1;
                        z-index: initial;
                        visibility: visible;
                        transform: translateY(0);

                        .detailed-list {
                            margin: 0;
                            margin-top: 12px;
                            padding: 0;
                            transition: none;
                            opacity: 1;
                            text-align: center;
                            
                            li {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 18px 24px;
                                transition: transform .2s ease-in-out;
                                background-color: rgba(255, 255, 255, 0.15);
                                position: relative;

                                h2 {
                                    margin: 0;
                                    font-size: .6em;
                                }
                                
                                h4 {
                                    margin: 0;
                                    font-size: .8em;
                                    color: #fff;
                                }
                            }
                        }

                        .detail-description {
                            opacity: 1;
                        }

                        .styles {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;

                            .style-dot {
                                display: block;
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                position: relative;
                                
                                &.active,
                                &:hover {
                                    &::after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        top: -3px;
                                        left: -3px;
                                        width: 41px;
                                        height: 41px;
                                        border: 3px solid #eee;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }

                    i {
                        transform: rotate(180deg);
                    }
                }

                .detailed {
                    position: absolute;
                    opacity: 0;
                    z-index: -1000;
                    transition: .2s ease-in-out;
                    transform: translateY(10px);
                    color: #eee;
                    visibility: hidden;

                    .detail-description {
                        transition: none;
                        opacity: 0;
                    }

                    .detailed-list {
                        transition: none;
                        opacity: 0;

                        .move {
                            transform: translateX(-60px);
                        }
                    }
                }
            }
            
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: rgba(238, 238, 238, 0.869);
                margin: 10px 0;
                transition: .4s ease-in-out;
                border-radius: 12px;

                p {
                    margin: 0;
                }

                &.link-item:hover {
                    color: #fff;
                }

                &:first-of-type {
                    margin-top: 0;
                }

                i {
                    transition: .3s ease-in-out;
                }
            }
        }
    }

    .nested-menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100vw;
        background-color: #111;
        transition: .5s ease-in-out;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 100;
        
        &.hidden {
            transition: 1s ease-in-out;
            right: -100vw;
        }

        .settings-section {
            box-shadow: none;
        }
    }
}
