<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant - Dashboard</title>

    <link rel="stylesheet" href="/public/styles/updated/main.css">
</head>
<body class="dark">
    <div id="overlay" class="" onclick="closeModals()"></div>
    <div id="app-container">
        <div class="user-menu-background">
            <menu class="user-menu">
                <div class="user-menu-header">
                    <img class="user-menu-image" src="/public/images/defaultavatar.png" alt="">
                    <div class="user-menu-info">
                        <h2><%= user.username %></h2>
                        <h3><%= user.email %></h3>
                    </div>
                </div>

                <ul class="list">
                    <a href="#"><li class="active"><i class="bi bi-house-fill"></i>Overview</li></a>
                    <a href="#"><li><i class="bi bi-book-fill"></i>Transactions</li></a>
                    <a href="#"><li><i class="bi bi-bar-chart-fill"></i>Statistics</li></a>
                    <a href="#"><li><i class="bi bi-credit-card-2-back-fill"></i>Accounts</li></a>
                    <a href="#"><li><i class="bi bi-bell-fill"></i>Notifications</li></a>
                </ul>

                <div class="button-wrapper icons">
                    <a class="button-icon" href="/app/settings">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                    <a class="button-icon danger" href="/auth/signout">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                </div>
            </menu>
        </div>

        <div class="content-container">
            <div class="nav-tabs-container">
                <button class="button-primary" onclick="openModal('add-transaction-modal')">Add transaction</button>
                <ul class="nav-tabs main" id="dashboard-main-tabs" role="tablist">
                    <li class="nav-link active" role="presentation" onclick="setTab(this, 'daily')">Daily</li>
                    <li class="nav-link" role="presentation" onclick="setTab(this, 'weekly')">Weekly</li>
                    <li class="nav-link" role="presentation" onclick="setTab(this, 'monthly')">Monthly</li>
                    <li class="nav-link" role="presentation" onclick="setTab(this, 'summary')">Summary</li>
                </ul>
                <div class="button-wrapper">
                    <button class="button-icon secondary">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <button class="button-secondary text-default" id="main-date-select" onclick="openModal('calendar-modal')">
                        ND
                    </button>
                    <button class="button-icon secondary">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
            </div>

            <div class="tab active" id="daily" role="tabpanel">
                <div class="content">
                    <div class="subcontent-title">
                        <h2>
                            Quick stats about your finances
                        </h2>
                    </div>
                    <div class="quick-stats">
                        <div class="card income">
                            <h2>£10</h2>
                            <h3>income</h3>
                        </div>
                        <div class="card expense">
                            <h2>£36</h2>
                            <h3>expenses</h3>
                        </div>
                        <div class="card">
                            <h2>£1232</h2>
                            <h3>total</h3>
                        </div>
                    </div>
                    <div class="summary-table-container">
                        <div class="summary-table-header">
                            <div class="date">
                                <h2 class="day" id="current-date-day">ND</h2>
                                <h2 class="weekday" id="current-date-weekday">ND</h2>
                                <h2 class="rest" id="current-date-rest">ND</h2>
                            </div>
                            <div class="button-wrapper">
                                <div class="input-wrapper">
                                    <i class="bi bi-search"></i>
                                    <input type="text" placeholder="Search">
                                </div>
                                <button class="button-icon">
                                    <i class="bi bi-filter-right"></i>
                                </button>
                            </div>
                        </div>
                        <table class="summary-table">
                            <tbody>
                                <tr>
                                    <td class="category">
                                        <h2>
                                            Food
                                        </h2>
                                    </td>
                                    <td>
                                        <div class="note">    
                                            <h2>
                                                Franco Manca Pizza
                                            </h2>
                                            <h3>
                                                Cash
                                            </h3>
                                        </div>
                                    </td>
                                    <td class="amount income">
                                        <h2>
                                            £10
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category">
                                        <h2>
                                            Income
                                        </h2>
                                    </td>
                                    <td>
                                        <div class="note">    
                                            <h2>
                                                Salary
                                            </h2>
                                            <h3>
                                                Card #1
                                            </h3>
                                        </div>
                                    </td>
                                    <td class="amount income">
                                        <h2>
                                            £1000
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category">
                                        <h2>
                                            Transfer
                                        </h2>
                                    </td>
                                    <td>
                                        <div class="note">
                                            <h3>
                                                Cash <i class="bi bi-arrow-right-short"></i> Oyster Card
                                            </h3>
                                        </div>
                                    </td>
                                    <td class="amount">
                                        <h2>
                                            £10
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category">
                                        <h2>
                                            Sport
                                        </h2>
                                    </td>
                                    <td>
                                        <div class="note">
                                            <h2>
                                                Swimming Session
                                            </h2>
                                            <h3>
                                                Cash
                                            </h3>
                                        </div>
                                    </td>
                                    <td class="amount expense">
                                        <h2>
                                            £6
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category">
                                        <h2>
                                            Food
                                        </h2>
                                    </td>
                                    <td>
                                        <div class="note">
                                            <h2>
                                                Groceries
                                            </h2>
                                            <h3>
                                                Card #1
                                            </h3>
                                        </div>
                                    </td>
                                    <td class="amount expense">
                                        <h2>
                                            £30
                                        </h2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="summary-table-footer">
                            <h2>
                                Carry-over
                            </h2>
                            <h2>
                                £258
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab" id="weekly" role="tabpanel">
                <div class="content">
                    <div class="subcontent-title">
                        <h2>
                            Quick stats about your week
                        </h2>
                    </div>
                    <div class="quick-stats">
                        <div class="card income">
                            <h2>£3270.95</h2>
                            <h3>income</h3>
                        </div>
                        <div class="card expense">
                            <h2>£95.76</h2>
                            <h3>expenses</h3>
                        </div>
                        <div class="card">
                            <h2>£3175.19</h2>
                            <h3>total</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab" id="monthly" role="tabpanel">
                <div class="content">
                    <div class="subcontent-title">
                        <h2>
                            Quick stats about your month
                        </h2>
                    </div>
                    <div class="quick-stats">
                        <div class="card income">
                            <h2>£3270.95</h2>
                            <h3>income</h3>
                        </div>
                        <div class="card expense">
                            <h2>£95.76</h2>
                            <h3>expenses</h3>
                        </div>
                        <div class="card">
                            <h2>£3175.19</h2>
                            <h3>total</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab" id="summary" role="tabpanel">
                Summary - coming soon
            </div>
        </div>
        <%- include('../partials/dashboard/_transaction_add_modal.ejs') %>
        <%- include('../partials/dashboard/_calendar_modal.ejs') %>

    </div>
    <script type="text/javascript" src="/public/js/updated/main.js"></script>
    <script type="text/javascript" src="/public/js/dates.js"></script>
</body>
</html>