<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant - Dashboard</title>

    <%- include('../partials/_global_styles.ejs') %>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h2 class="text-center">You've successfully logged in. Welcome to your dashboard.</h2>
    
    <%- include('../partials/_global_scripts.ejs') %>
</body>
</html>