@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  background-color: #EFEEF6;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
body .list-item-divider {
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background-color: rgba(56, 59, 97, 0.1450980392);
  margin: auto;
}
body .wrapper {
  transition: 0.3s ease-in-out;
}
body.shade {
  overflow: hidden;
}
body.shade .wrapper {
  opacity: 0.4;
}
body.shade #side-menu {
  overflow-y: scroll;
}
body .bt-primary {
  background-color: #2340C3;
  color: #eee;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0px 0px 6px 1px rgba(56, 59, 97, 0.6156862745);
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  font-weight: 600;
  border: none;
}
body .bt-primary.outline {
  background-color: transparent;
  border: 1px solid #383b61;
  color: #383b61;
}
body .bt-primary.outline:hover {
  background-color: rgba(255, 255, 255, 0.641);
  color: #383b61;
}
body .bt-primary:hover {
  background-color: rgba(33, 41, 151, 0.8549019608);
  color: #fff;
}
body .bt-secondary {
  color: #383b61;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  border: none;
  background-color: transparent;
}
body .bt-secondary.bold {
  font-weight: 800;
}
body .bt-secondary:hover {
  color: rgba(33, 41, 151, 0.8549019608);
  text-decoration: underline;
}
body .bt-toggle {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s ease-in-out;
}
body .bt-toggle .circle {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background-color: rgba(238, 238, 238, 0.869);
  box-shadow: 0 0 6px 2px rgba(238, 238, 238, 0.03);
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
body .bt-toggle.active {
  background-color: #2340C3;
}
body .bt-toggle.active .circle {
  transform: translateX(43px);
  left: unset;
  background-color: rgba(238, 238, 238, 0.869);
}
body .logo a {
  color: #383b61;
  font-size: 2em;
  font-weight: 800;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
body .logo a:hover {
  color: rgba(33, 41, 151, 0.8549019608);
}
body .logo .logo-image {
  display: none;
}
body .logo .logo-image img {
  width: 50px;
  height: 50px;
}
body nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}
body nav .right,
body nav .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
body nav .right .user-info {
  cursor: pointer;
  position: relative;
}
body nav .right .user-info:hover .user-info-icon {
  background-color: rgba(255, 255, 255, 0.316);
}
body nav .right .user-info .user-info-icon {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  padding: 7px 12px;
  color: #383b61;
  display: flex;
  align-items: center;
}
body nav .right .user-info .user-info-icon p {
  margin: 0 12px 0 0;
  font-weight: 700;
}
body nav .right .user-info .user-info-icon i {
  font-size: 1.7em;
}
body nav .right .user-info.toggled .user-menu {
  top: 57px;
  z-index: 100;
  opacity: 1;
}
body nav .right .user-info.toggled .user-info-icon {
  background-color: rgba(255, 255, 255, 0.64);
}
body nav .right .user-info .user-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  transition: 0.3s ease-in-out;
  border-radius: 9px;
  box-shadow: 0px 0px 7px 1px rgba(56, 59, 97, 0.1450980392);
  gap: 8px;
  list-style-type: none;
  z-index: -1;
  opacity: 0;
}
body nav .right .user-info .user-menu li {
  padding: 1px 12px;
  display: flex;
  gap: 8px;
}
body nav .right .user-info .user-menu li:last-of-type:hover i, body nav .right .user-info .user-menu li:last-of-type:hover a {
  color: #e40606;
}
body nav .right .user-info .user-menu li:last-of-type i, body nav .right .user-info .user-menu li:last-of-type a {
  color: #be0000;
}
body nav .right .user-info .user-menu li:hover a {
  color: rgba(33, 41, 151, 0.8549019608);
}
body nav .right .user-info .user-menu li i, body nav .right .user-info .user-menu li a {
  color: #383b61;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 510px) {
  body nav .right a {
    display: none;
  }
}
body nav .left #main-list {
  display: flex;
  margin: 0;
  gap: 12px;
  list-style-type: none;
  position: relative;
}
body nav .left #main-list .main-list-item {
  display: flex;
  gap: 6px;
  position: relative;
  cursor: pointer;
  padding: 12px;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}
body nav .left #main-list .main-list-item .nav-link {
  margin-right: 3px;
  transition: 0.2s ease-in-out;
}
body nav .left #main-list .main-list-item:hover {
  background-color: rgba(255, 255, 255, 0.316);
}
body nav .left #main-list .main-list-item:hover .nav-link {
  color: rgba(33, 41, 151, 0.8549019608);
  text-decoration: none;
}
body nav .left #main-list .main-list-item .extended-list {
  position: absolute;
  top: 10px;
  left: -10px;
  background-color: #fff;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 9px;
  box-shadow: 0px 0px 7px 1px rgba(56, 59, 97, 0.1450980392);
  gap: 8px;
  opacity: 0;
  list-style-type: none;
}
body nav .left #main-list .main-list-item .extended-list .extended-list-item {
  width: 100%;
  padding: 1px 12px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
body nav .left #main-list .main-list-item .extended-list .extended-list-item:hover a {
  color: rgba(33, 41, 151, 0.8549019608);
}
body nav .left #main-list .main-list-item .extended-list .extended-list-item a {
  text-decoration: none;
  color: #383b61;
  transition: 0.2s ease-in-out;
}
body nav .left #main-list .main-list-item.extended {
  background-color: rgba(255, 255, 255, 0.64);
}
body nav .left #main-list .main-list-item.extended .nav-link {
  color: rgba(33, 41, 151, 0.8549019608);
}
body nav .left #main-list .main-list-item.extended .extended-list {
  opacity: 1;
  z-index: 20;
  top: 50px;
}
body nav .right {
  gap: 20px;
}
body .menu-toggle {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-direction: column;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}
body .menu-toggle .close {
  font-size: 2em;
}
body .menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #383b61;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1200px) {
  body nav .left {
    gap: 0;
  }
  body nav .left .main-list {
    gap: 0;
  }
}
@media screen and (max-width: 1005px) {
  body nav .left .logo a {
    display: none;
  }
  body nav .left .logo .logo-image {
    display: unset;
  }
  body nav .left #main-list {
    display: none;
  }
  body nav .right {
    width: 100%;
    justify-content: flex-end;
  }
  body .menu-toggle {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  body .left .logo a {
    display: none;
  }
  body .left .logo .logo-image {
    display: block;
  }
}
body .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
body .wrapper .main-banner {
  display: flex;
  align-items: center;
}
body .wrapper .main-banner .main-title {
  color: #383b61;
  font-size: 4em;
  font-weight: 700;
}
body .wrapper .main-banner .secondary-title {
  margin: 30px 0;
  color: rgba(56, 59, 97, 0.6156862745);
}
body .wrapper .main-banner #get-started-form {
  box-shadow: 0px 0px 7px 1px rgba(56, 59, 97, 0.1450980392);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  padding: 4px 10px 4px 1px;
  border-radius: 6px;
  max-width: 600px;
  margin-top: 20px;
}
body .wrapper .main-banner #get-started-form input {
  border: none;
  padding: 14px 22px;
  font-size: 1em;
  color: #383b61;
}
body .wrapper .main-banner #get-started-form input:focus {
  outline: none;
}
body .wrapper .main-banner #get-started-form button {
  margin-left: 40px;
  padding: 12px 22px;
  border-radius: 6px;
  border: none;
  background-color: #2340C3;
  color: #fff;
  transition: 0.2s ease-in-out;
}
body .wrapper .main-banner #get-started-form button:hover {
  background-color: rgba(33, 41, 151, 0.8549019608);
}
body .wrapper .main-banner #get-started-form button:focus {
  border: none;
}
body .wrapper .main-banner .apps-wrapper {
  display: flex;
  margin-top: 20px;
  gap: 12px;
  flex-wrap: wrap;
}
body .wrapper .main-banner .apps-wrapper button {
  display: none;
}
body .wrapper .main-banner .apps-wrapper .app-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.69);
  border-radius: 8px;
  gap: 10px;
  padding: 10px 17px;
  color: #383b61;
  box-shadow: 0 0 9px 1px rgba(56, 59, 97, 0.1450980392);
  transition: 0.2s ease-in-out;
}
body .wrapper .main-banner .apps-wrapper .app-card:hover {
  background-color: rgba(255, 255, 255, 0.39);
}
body .wrapper .main-banner .apps-wrapper .app-card:hover.dashboard-shortcut {
  text-decoration: underline;
}
body .wrapper .main-banner .apps-wrapper .app-card.dashboard-shortcut {
  font-weight: 700;
  display: none;
}
body .wrapper .main-banner .apps-wrapper .app-card.dashboard-shortcut a {
  color: #383b61;
  text-decoration: none;
}
body .wrapper .main-banner .apps-wrapper .app-card i {
  font-size: 2em;
}
body .wrapper .main-banner .apps-wrapper .app-card p {
  color: rgba(56, 59, 97, 0.6156862745);
  margin: 0;
  font-size: 0.8em;
}
body .wrapper .main-banner .apps-wrapper .app-card h3 {
  font-size: 1.2em;
  margin: 0;
}
body .wrapper .main-banner img {
  max-width: 700px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  z-index: -100000;
}
@media screen and (max-width: 1085px) {
  body .wrapper .main-banner {
    flex-direction: column;
  }
  body .wrapper .main-banner .apps-wrapper {
    justify-content: center;
  }
  body .wrapper .main-banner .main-title {
    text-align: center;
  }
  body .wrapper .main-banner .secondary-title {
    text-align: center;
  }
  body .wrapper .main-banner #get-started-form {
    margin: 0 auto;
  }
  body .wrapper .main-banner img {
    padding: 30px 10px;
    max-width: 700px;
    width: 100%;
  }
}
@media screen and (max-width: 570px) {
  body .wrapper .main-banner .main-title {
    font-size: 2.5em;
    margin-bottom: 0;
  }
  body .wrapper .main-banner .secondary-title {
    font-size: 1.1em;
    margin: 30px 20px;
  }
}
@media screen and (max-width: 500px) {
  body .wrapper .main-banner #get-started-form {
    display: none;
  }
  body .wrapper .main-banner .apps-wrapper .app-card.dashboard-shortcut {
    display: initial;
  }
  body .wrapper .main-banner .apps-wrapper button {
    display: block;
  }
}
@media screen and (max-width: 1255px) {
  body .wrapper .main-banner {
    margin-top: 30px;
  }
  body .wrapper .main-banner img {
    max-width: 500px;
  }
}
body #sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
@media screen and (max-width: 520px) {
  body .user-info {
    display: none;
  }
}

#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  max-height: 100vh;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  margin: 0;
  padding: 20px 24px;
  background-color: #EFEEF6;
  box-shadow: 0 0 10px 10px rgba(56, 59, 97, 0.1450980392);
  color: #383b61;
  list-style-type: none;
  z-index: 10000;
  transition: 0.3s ease-in-out;
}
#side-menu .auth-buttons-wrapper {
  display: none;
}
@media screen and (max-width: 520px) {
  #side-menu .auth-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
  }
}
#side-menu.hidden {
  right: -320px;
}
#side-menu .logo {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
#side-menu .logo a {
  display: none;
  color: #383b61;
}
#side-menu .menu-user-details {
  display: none;
}
@media screen and (max-width: 520px) {
  #side-menu {
    width: 100vw;
    max-width: unset;
  }
  #side-menu.hidden {
    right: calc(-100vw - 30px);
  }
  #side-menu .logo {
    display: flex;
    justify-content: space-between;
  }
  #side-menu .logo .logo-image {
    display: initial;
  }
  #side-menu .menu-user-details {
    display: flex;
    flex-direction: column;
  }
  #side-menu .menu-user-details .menu-list-item {
    display: flex;
    gap: 8px;
    font-weight: 600;
  }
  #side-menu .menu-user-details .menu-list-item:last-of-type a, #side-menu .menu-user-details .menu-list-item:last-of-type i {
    color: #be0000;
  }
  #side-menu .menu-user-details .menu-list-item:last-of-type:hover a, #side-menu .menu-user-details .menu-list-item:last-of-type:hover i {
    color: #e40606;
  }
  #side-menu .menu-user-details .menu-list-item:hover a, #side-menu .menu-user-details .menu-list-item:hover i {
    color: rgba(33, 41, 151, 0.8549019608);
  }
  #side-menu .menu-user-details .menu-list-item a, #side-menu .menu-user-details .menu-list-item i {
    transition: 0.2s ease-in-out;
    color: #383b61;
    text-decoration: none;
  }
  #side-menu .menu-user-details .details {
    text-align: center;
  }
  #side-menu .menu-user-details .details i {
    font-size: 1.7em;
  }
  #side-menu .menu-user-details .details p {
    font-weight: 700;
    font-size: 1.6em;
  }
}
#side-menu .menu-list-item {
  margin: 12px 0;
}
#side-menu .menu-list-item .menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
#side-menu .menu-list-item .menu-link:hover a, #side-menu .menu-list-item .menu-link:hover i {
  color: rgba(33, 41, 151, 0.8549019608);
}
#side-menu .menu-list-item .menu-link a, #side-menu .menu-list-item .menu-link i {
  color: #383b61;
}
#side-menu .menu-list-item .menu-link a:hover, #side-menu .menu-list-item .menu-link i:hover {
  text-decoration: none;
}
#side-menu .menu-list-item .extended-list {
  visibility: hidden;
  height: 0;
  margin: 0;
}
#side-menu .menu-list-item.extended .menu-link a {
  color: rgba(33, 41, 151, 0.8549019608);
}
#side-menu .menu-list-item.extended .extended-list {
  visibility: visible;
  height: unset;
  list-style-type: none;
  padding: 10px;
}
#side-menu .menu-list-item.extended .extended-list .extended-list-item a {
  color: rgba(56, 59, 97, 0.6156862745);
  text-decoration: none;
}
#side-menu .menu-list-item.extended .extended-list .extended-list-item:hover {
  text-decoration: underline;
}
#side-menu .menu-item-divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(56, 59, 97, 0.1450980392);
}/*# sourceMappingURL=main.css.map */