
<div class="container" id="plan">
    <div class="content-title">
        <h2>Plan</h2>
    </div>
</div>

<!-- <div class="nested-menu hidden" id="plan">
    <div class="header">
        <a href="/app/settings" class="back-toggle" data-link>
            <i class="bi bi-chevron-left"></i>
            <h2>
                Plan
            </h2>
        </a>
    </div>
    <div class="section-divider">
        <h6>
            BEST PLANS FOR YOU
        </h6>
    </div>
    <section class="settings-section list">
        <div class="info-card">
            <div class="card-header">
                <div class="card-title">
                    <i class="bi bi-gem personal"></i>
                    <h2>
                        Personal
                        <span>
                            03
                            <span>
                                service
                            </span>
                        </span>
                    </h2>
                </div>
                <h4 class="card-price">
                    Free
                </h4>
            </div>
            <span class="card-divider"></span>
            <ul class="card-list">
                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        Up to <span>12 accounts</span>
                    </h6>
                </li>
                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        <span>Mobile</span> App iOS & Android
                    </h6>
                </li>
                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        Basic <span>Insights</span>
                    </h6>
                </li>

                <li class="card-list-item disabled">
                    <i class="bi bi-x"></i>
                    <h6>
                        Chat Support
                    </h6>
                </li>
                <li class="card-list-item disabled">
                    <i class="bi bi-x"></i>
                    <h6>
                        Tags
                    </h6>
                </li>
                <li class="card-list-item disabled">
                    <i class="bi bi-x"></i>
                    <h6>
                        Team Management
                    </h6>
                </li>
            </ul>
            <div class="bt-wrapper">
                <button class="bt-primary disabled">
                    Current Plan
                </button>
            </div>
        </div>

        <div class="info-card">
            <div class="card-header">
                <div class="card-title">
                    <i class="bi bi-gem standard"></i>
                    <h2>
                        Standard
                        <span>
                            06
                            <span>
                                service
                            </span>
                        </span>
                    </h2>
                </div>
                <h4 class="card-price">
                    £24
                </h4>
            </div>
            <span class="card-divider"></span>
            <ul class="card-list">
                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        <span>Unlimited</span> accounts
                    </h6>
                </li>
                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        <span>Mobile</span> App iOS & Android
                    </h6>
                </li>
                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        <span>Detailed</span> Insights and statistics
                    </h6>
                </li>

                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        <span>Chat</span> Support
                    </h6>
                </li>
                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        <span>Tags</span>
                    </h6>
                </li>
                <li class="card-list-item">
                    <i class="bi bi-check"></i>
                    <h6>
                        Team <span>Management</span>
                    </h6>
                </li>
            </ul>
            <div class="bt-wrapper">
                <button class="bt-primary">
                    Choose Plan
                </button>
            </div>
        </div>
    </section>
</div> -->